@model startup_website_asp.net.Models.EF.SubAttribute

@{
    ViewBag.Title = "EditSubAttribute";
    Layout = "~/Areas/Startup/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>SubAttribute</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.SubAttributeId)

    @Html.HiddenFor(model => model.AttributeId)
    <div class="form-group">
        <label class="control-label">Tên</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label">Giá trị</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Value, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label">Vị trí</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Index, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Trở về", "Index")
</div>

