@model IEnumerable<startup_website_asp.net.Models.EF.Attribute>

@{
    ViewBag.Title = "Danh Sách Thuộc Tính Sản Phẩm";
    Layout = "~/Areas/Startup/Views/Shared/_Layout.cshtml";
}
<div class="page-header">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <i class="ik ik-inbox bg-blue"></i>
				<div class="d-inline">
					<h5>Quản lý thuộc tính sản phẩm</h5>
					<p>Thêm, chỉnh sửa thuộc tính sản phẩm</p>
				</div>
            </div>
        </div>
        <div class="col-lg-4">
            <nav class="breadcrumb-container" aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a href="@Url.Action("index","Home")"><i class="ik ik-home"></i></a>
					</li>
					<li class="breadcrumb-item active" aria-current="page">Quản lý thuộc tính</li>
				</ol>
            </nav>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header justify-content-between">
                <h3>Danh sách thuộc tính sản phẩm</h3>
                <a class="btn btn-primary" href="@Url.Action("CreateAttribute","StartupAttributeProduct")" type="button">Thêm thuộc tính</a>
            </div>
            <div class="card-body">
                <table id="data_table" class="table">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Tên thuộc tính</th>
                            <th class="nosort">Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr id="item-@item.AttributeId">
                                <td></td>
                                <td>@item.Name</td>
                                <td>
                                    <div class="table-actions">
                                        <a href="@Url.Action("ListSubAttribute","StartupAttributeProduct", new { id = @item.AttributeId })"><i class="ik ik-grid"></i></a>
                                        <a href="@Url.Action("EditAttribute","StartupAttributeProduct",new { id = @item.AttributeId })"><i class="ik ik-edit-2"></i></a>
                                        <a href="#" class="delete-startup" data-id="@item.AttributeId"><i class="ik ik-trash-2"></i></a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section script{
    <script>
		function showSuccessToast(type, message) {
			'use strict';
			$.toast({
				heading: type,
				text: message,
				showHideTransition: 'slide',
				icon: type,
				loaderBg: '#f96868',
				position: 'top-right'
			})
		};
		$('.dropdown-item').click(function (e) {
			e.preventDefault();
			editStatus("POST", "/Startup/StartupProduct", { id: this.dataset.id, Status: this.dataset.type })
		})
		$('.delete-startup').click(function (e) {
			e.preventDefault();
			deleteRecord("POST", "/Startup/StartupProduct/DeleteAttribute", { id: this.dataset.id })
        })
    </script>

    <script src="~/Content/js/Common/actionTable.js"></script>
}