
    <div class="app-sidebar colored">
        <div class="sidebar-header">
            <a class="header-brand" href="#">
                <div class="logo-img">
                    <img src="~/Content/images/logo2.png" width="150" class="header-brand-img" alt="lavalite">
                </div>
            </a>
            <button type="button" class="nav-toggle"><i data-toggle="expanded" class="ik ik-toggle-right toggle-icon"></i></button>
            <button id="sidebarClose" class="nav-close"><i class="ik ik-x"></i></button>
        </div>

        <div class="sidebar-content">
            <div class="nav-container">
                <nav id="main-menu-navigation" class="navigation-main">
                    @*<div class="nav-item">
                        <a href="@Url.Action("ListAccount","AdminAccount")">
                            <i class="ik ik-users"></i><span>Quản lý tài khoản</span>
                        </a>
                    </div>*@
                    <div class="nav-item ">
                        <a href="@Url.Action("ListProduct","AdminProduct")">
                            <i class="ik ik-package"></i><span>Quản lý sản phẩm</span>
                        </a>
                    </div>
                    <div class="nav-item">
                        <a href="@Url.Action("ListAdminStartup","AdminStartup")">
                            <i class="ik ik-archive"></i><span>Quản lý Starup</span>
                        </a>
                    </div>
                    <div class="nav-item">
                        <a href="@Url.Action("Index","AdminStartupTypes")">
                            <i class="ik ik-users"></i><span>Quản lý loại startup</span>
                        </a>
                    </div>
                    <div class="nav-item has-sub">
                        <a href="javascript:void(0)"><i class="ik ik-list"></i><span>Quản lý danh mục</span></a>
                        <div class="submenu-content">
                            <a href="@Url.Action("ListProductCategory","AdminProductCategory")" class="menu-item">
                                <i class="ik ik-package"></i><span>Danh mục sản phẩm</span>
                            </a>
                            @*<a href="#" class="menu-item">
                                <i class="ik ik-file-minus "></i><span>Danh mục Blog</span>
                            </a>*@
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>