@model IEnumerable<startup_website_asp.net.ViewModels.OrderViewModel>
@using startup_website_asp.net.ViewModels;
@using startup_website_asp.net.Models.EF;
@{
    ViewBag.Title = "Đơn Hàng Của Bạn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Account Area -->
<div class="acount-area shop checkout section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-3 select-menu-account">
                <div class="order-details">
                    <!-- Order Widget -->
                    <div class="single-widget">
                        <div class="content">
                            <div class="avata-account">

                            </div>
                            <ul class="list-menu">
                                <a href="/Account/EditProfileAccount">
                                    <li class="last my-account">
                                        <p>Tài khoản của tôi</p>
                                    </li>
                                </a>
                                <a href="/Account/ProfileAccountOrders">
                                    <li class="last order">
                                        <p style="color:#EC9513">Đơn hàng</p>
                                    </li>
                                </a>
                                <a href="/Account/ProfileAccountfavoriteProducts">
                                    <li class="last product-saved">
                                        <p>Sản phẩm yêu thích</p>
                                    </li>
                                </a>
                                <li class="last">

                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-9 list-order ">
                <div class="row pb-2">
                    <div class="col-12">
                        <!-- Shop Top -->
                        <div class="shop-top mb-1">
                            <div class="input-group search-order">
                                <input type="text" class="form-control input-search-order" placeholder="Tìm kiếm đơn hàng">
                                <div class="input-group-append">
                                    <button class="btn btn-find-order" type="button"><i class="ti-search"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="shop-top">
                            <ul class="view-mode col-12 p-0">
                                <li class="active mt-1"><a href="shop-grid.html">Tất cả</a></li>
                                <li class="mt-1"><a href="shop-list.html">Chờ xác nhận</a></li>
                                <li class="mt-1"><a href="shop-list.html">Đang giao</a></li>
                                <li class="mt-1"><a href="shop-list.html">Đã giao</a></li>
                                <li class="mt-1"><a href="shop-list.html">Đã đánh giá</a></li>
                                <li class="mt-1"><a href="shop-list.html">Đã hủy</a></li>
                            </ul>


                        </div>
                        <!--/ End Shop Top -->
                    </div>
                </div>
                @foreach (OrderViewModel orderVMItem in Model)
                {
                    <div class="order-detail-card p-0">
                        <div class="order-startup">
                            <a href="#"><img class="order-startup-logo" src="@orderVMItem.Startup.LogoUrl" alt="" /></a>
                            <a href="#" class="order-startup-name">@orderVMItem.Startup.Name</a>
                            <span class="order-status-badge badge-secondary ml-auto">@orderVMItem.Status</span>
                        </div>
                        <div class="order-product-list">
                            @{ long totalPrice = 0; }
                            <ul>
                                @foreach (OrderDetail orderDetail in orderVMItem.OrderDetails)
                                {
                                    long price = orderDetail.Product.PromotionPrice == null
                                        ? Int64.Parse(orderDetail.Product.Price.ToString())
                                        : Int64.Parse(orderDetail.Product.PromotionPrice.ToString());
                                    <li class="order-product">
                                        <a href="#"><img class="" src="@orderDetail.Product.MainImage" alt="" /></a>
                                        <a href="#" class="product-name">@orderDetail.Product.Name</a>
                                        <div class="product-price">
                                            <span>@(price.ToString("N0")) đ</span>
                                            <span class="multiply">x</span>
                                            <span>@orderDetail.Quality</span>
                                        </div>
                                        <span class="product-total-price">@((price* (int)orderDetail.Quality).ToString("N0")) đ</span>
                                    </li>
                                    totalPrice += price * (int)orderDetail.Quality;
                                }
                            </ul>
                        </div>
                        <div class="order-money">
                            <div>
                                <span>Tổng tiền phải trả:</span>
                                <span class="total-price money">@totalPrice.ToString("N0") đ</span>
                            </div>
                        </div>
                        <div class="order-action ">
                            <a href="#" data-toggle="modal" data-target="#reviewModal" class="btn-review-modal">Đánh Giá</a>
                            <a href="" class="btn-view-detail">Xem chi tiết đơn hàng</a>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>
<!-- End Account Area -->
<!-- Review Modal -->
<div class="modal fade review-modal" id="reviewModal" tabindex="-1" role="dialog" aria-labelledby="reviewModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reviewModalLabel">Đánh Giá Sản Phẩm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="prd-review">
                    <div class="order-product">
                        <a href="#"><img class="" src="https://is5-ssl.mzstatic.com/image/thumb/Purple113/v4/9c/42/58/9c42583f-ed50-cf39-82cc-53bde6af5046/source/512x512bb.jpg" alt=""></a>
                        <a href="#" class="product-name">Giày Thể Thao Nam Biti's Hunter X BKL - Midnight Black Inverted DSMH02302DEN (Đen)</a>
                        <div class="review-point">
                            <select>
                                <option selected="selected">1</option>
                                <option>2</option>
                            </select>
                            <span>/ 10</span>
                        </div>
                    </div>
                    <p class="mt-3">Đánh Giá Của Bạn:</p>
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <textarea id="prd-review" name="prd-review" rows="3" cols="50">
						</textarea>
                        </div>
                        <div class="col-12 col-lg-6">
                            <ul class="review-suggest">
                                <li><a href="#">Sản phẩm tốt</a></li>
                                <li><a href="#">Rất đáng để thử</a></li>
                                <li><a href="#">Giao hàng nhanh</a></li>
                                <li><a href="#">Đóng gói chắc chắn</a></li>
                            </ul>
                        </div>
                    </div>
                    <button class="btn btn-review">Đánh Giá</button>
                </div>
                <hr />
                <div class="prd-review">
                    <div class="order-product">
                        <a href="#"><img class="" src="https://is5-ssl.mzstatic.com/image/thumb/Purple113/v4/9c/42/58/9c42583f-ed50-cf39-82cc-53bde6af5046/source/512x512bb.jpg" alt=""></a>
                        <a href="#" class="product-name">Giày Thể Thao Nam Biti's Hunter X BKL - Midnight Black Inverted DSMH02302DEN (Đen)</a>
                        <div class="review-point">
                            <select>
                                <option>1</option>
                                <option>2</option>
                            </select>
                            <span>/ 10</span>
                        </div>
                    </div>
                    <p class="mt-3">Đánh Giá Của Bạn:</p>
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <textarea id="prd-review" name="prd-review" rows="3" cols="50">
						</textarea>
                        </div>
                        <div class="col-12 col-lg-6">
                            <ul class="review-suggest">
                                <li><a href="#">Sản phẩm tốt</a></li>
                                <li><a href="#">Rất đáng để thử</a></li>
                                <li><a href="#">Giao hàng nhanh</a></li>
                                <li><a href="#">Đóng gói chắc chắn</a></li>
                            </ul>
                        </div>
                    </div>
                    <button class="btn btn-review">Đánh Giá</button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
<!-- End Review Modal -->